body{
    background-color: black;
}

div{
    display: flex;
    justify-content: center;
    height: 400;
    width: 640;
}

h1{
    color: white;
    text-align: center;
}
.texto{
    color: white;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 25px;
    text-align: center;
}
footer{
    text-align: center;
    color: white;
    margin-top: 240px;
}
